langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
llama-index
google-generativeai
faiss-cpu
chromadb
sentence-transformers
pypdf
python-dotenv
streamlit
tiktoken
unstructured
markdown
pandas
numpy
pillow
ipykernel
jupyter